# Created by .ignore support plugin (hsz.mobi)

.idea/
modularizr.iml
mvnw
kafka/
data/
mysqlinit
mvnw.cmd
.classpath
.settings
.factorypath
.project
spreadr.iml
target/
/src/test/test.iml
/src/main/main.iml